/* Swipper js */
.swiper {
    width: 100%;
    height: 280px;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 230px;
    background-size: cover;
    background-position: center;

}



.swiper-button-prev, .swiper-button-next {
    background-color: rgba(255, 255, 255, 0.936);
    color: #000 !important;
    padding:45px 20px;
    

}

.swiper-scrollbar{
    height: 100px;
}