@media (max-width: 770px) {
    .amazon_logo img{
        width: 60px;
    }
    .usflagfon{
        font-size: 12px;
    }

    .hello p{
        font-size: 10px;
    }

    .hello h6{
        font-size: 10px;
    }

    .orders p{
        font-size: 10px;
    }
    .orders h6{
        font-size: 12px;
    }

    .cart img{
        width: 25px;
    }

    .cart p{
        font-size: 14px;
    }

    .carousel-control-prev-icon{
        top: 40px !important;
        left: 30px;
    }

    .carousel-control-next-icon{
        top: 40px !important;
        right: 30px;
    }




}