* {
    font-family: "Outfit";
   
}

.amazon-logo{
    margin-top:10px ;
    margin-bottom: 20px;
}

.signin-content{
    margin: 0px auto;
    max-width: 350px;
}

.email-phone{
    font-size: 14px;
    font-weight: 500;
}

.password-characters{
    font-size: 12px;

}

.continue-button{
    background-color: rgb(255, 230, 0);
}

.continue-button:hover{
    background-color: rgb(255, 213, 0);
}

.by-continue{
    font-size: 13px;
}

.create-your{
    font-size: 13px;
}

/* hr-line */

.hr-line{
    position: relative;
    font-size: 13px;
}


.hr-line::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 115px;
    background-color: rgb(230, 228, 228);
    top: 50%;
    left: 0;
}

.hr-line::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 115px;
    background-color: rgb(230, 228, 228);
    top: 50%;
    right: 0;
}

.already-account{
    font-size: 14px;
}




/* end */

.footer{
    font-size: 12px;
}











